@font-face {
    font-family: clare_light;
    src: url(ClaireHandLight.otf);
}

#top-banner {
	background: black url(img/valmello.jpg) center no-repeat;
	background-size: cover;
	width: 100%;
	margin-bottom: 5%;
}
#header-box {
	background-color: rgba(0,0,0,0.64);
	padding-top: 10px;
	width: 100%;
	padding-bottom: 40px;
	padding-top: 40px;
	margin: 0 auto;
	text-align: center;
}
#header-box h1 {
	margin: 0;
}
.button {
	background-color: #EEC92F;
	color: white;
	height: 50px;
	line-height: 50px;
	width: 40%;
	border: 3px solid #EEC92F;
	font-family: "Montserrat";
	font-size: 20px;
	text-align: center;
	margin: 0 auto;
}
.icon:hover {
	border: 1px;
	border-color: #EEC92F;
}
.button:hover {
	background-color: transparent;
	cursor: pointer;
	color: white;
	color: #EEC92F;
}
.secondary_button {
	background-color: #21130E;
	height: 50px;
	line-height: 50px;
	color: white;
	font-family: "Montserrat";
	font-weight: 300;
	font-size: 20px;
	text-align: center;
	margin: 30px;
	position: relative;
	border: 3px solid #21130E;
}
.secondary_button:hover {
	cursor: pointer;
	background-color: #EEC92F;
	color: #21130E;
	border: 3px solid #21130E;
}
.service-image {
	height: 100px;
	width: 100px;
	border-radius: 100px;
	background: black url(\garden.jpg) center no-repeat;
	margin-bottom: 5px;
}
.info {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
h1{
	color: #ffffff;
	font-family: "Great Vibes";
	font-size: 100px;
	padding-top: 80px;
	padding-bottom: 60px
}
h2{
	color: #C96228;
	font-family: "Montserrat";
	font-size: 40px;
	text-align: center;
	padding-top: 30px;
}
h3{
	color: #333333;
	font-family: "Montserrat";
	font-size: 20px;
}
p {
	font-family: "Montserrat";
	font-size: 18px;
	color: #333333;
	padding-right: 10px;
	line-height: 150%
}
.pfooter {
	color: #ffffff;
	text-align: center;
	font-size: 14px;
}
.gifts {
	font-family: "Montserrat";
	font-size: 18px;
	color: #333333;
	padding-right: 10px;
	line-height: 150%
}
.intro {
	font-size: 30px;
	color: white;
	padding-bottom: 20px;
}
.footer {
	background-color: #21130E;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}
.form {
	background-color: #EEC92F;
	padding-top: 30px;
	padding-bottom: 100px;
	margin-top: 60px;
}

form {
	width: 60%;
	margin: 0 auto;
}
form label {
	display: block;
	font-family: "Montserrat";
	font-size: 18px;
	padding-bottom: 10px;
}
form input {
	width: 100%;
	height: 35px;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.field {
	margin: 30px;
}

.getintouch {
	color: #ffffcc;
}
.tel {
	color: #ffffcc;
	font-size: 24px;
	font-family: "Montserrat";
	font-weight: lighter;
	background: url(phone.png) left no-repeat;
	padding-left: 50px;
	margin-top: 50px;
}
.email {
	color: #ffffcc;
	font-size: 24px;
	font-family: "Montserrat";
	font-weight: lighter;
	background: url(mail.png) left no-repeat;
	padding-left: 50px;
	margin-top: 50px;
}
.white {
	color: white;
}
a {
	text-decoration: none;
}
a:link {
    color: #C96228;
}
a:visited {
    color: #21130E;
}
a:hover {
    color: #EEC92F;
}
#ukflag {
  background: url('img/uk-flag-bw.png');
  height: 20px;
  width: 40px;
  display: block;
  position: absolute;
  /* Optional for a gradual animation effect */
  transition: 0.5s;
}

#ukflag:hover {
  background: url('img/uk-flag.png');
}


@media (min-width: 721px) and (max-width: 1020px) {
	p {
		font-size: 16px;		
	}
	.gifts {
		font-size: 16px;
	}
	h1 {
		font-size: 80px;
	}
	.intro {
		font-size: 26px;
	}
	.button {
		width: 40%;
		font-size: 16px;
	}
	h2{
		font-size: 24px;
	}
		
}

@media (min-width: 120px) and (max-width: 720px) {
	p {
		font-size: 14px;		
	}
	.gifts {
		font-size: 14px;
	}
	h1 {
		font-size: 46px;
		padding-top: 40px;
		padding-bottom: 20px;
	}
	.intro {
		font-size: 20px;
	}
	.button {
		width: 80%;
		font-size: 14px;
	}
	.secondary_button {
		font-size: 14px;
	}
	form {
	width: 95%;
	margin: 0 auto;
	}
	h2{
		font-size: 22px;
	}
	.info {
		max-width: 300px; 
	}
		
}

